<div class="container" [ngClass]="examHasBegun? 'hide': 'show'">
    <br>
    <h3>¡Es hora de evaluar tus conocimientos!</h3>
    <br>
    <br>
    <br>
    <p>¿Que tabla(s) quieres estudiar?</p>
    <p>No estudiaremos la del 1 o la del 10 ¡Son demasiado sencillas!</p>
    <div class="row">
        <div class="col-6" *ngFor="let table of timesTables; index as index">
            <input 
                class="btn-check" 
                type="checkbox" 
                id="{{table.timesTable}}-check" 
                autocomplete="off" 
                [checked]="table.selected" 
                (change)="toggleTableSelectedState(index)"
            >
            <label class="btn btn-outline-primary" for="{{table.timesTable}}-check">{{table.timesTable}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <br>
            <div class="form-check form-switch">                
                <input class="btn-check" type="checkbox" id="study-all-check" autocomplete="off" [checked]="studyAll" (click)="studyAllClicked()">
                <label class="btn btn-outline-danger" for="study-all-check">¡Estudiar Todas!</label>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success" [disabled]="!anyTableSelected" (click)="examHasBegun = true">Ir a la prueba</button>
        </div>
    </div>
</div>

<ng-container *ngIf="examHasBegun">
    <div class="container">
        <app-exam [tables]="selectedTables"></app-exam>
    </div>
</ng-container>


