<div class="container text-center">
    <h3>¡Bienvenido!</h3>
    <h4>¿Qué quieres hacer?</h4>

    <br/>
    <br/>

    <div class="row home">
      <div class="col-6">
        <button type="button" (click)="currentBoard = 'StudyBoard'"  class="btn btn-primary">Repasar</button>
      </div>
      <div class="col-6">
        <button type="button" (click)="currentBoard = 'TestBoard'" class="btn btn-warning">¡Ponte a Prueba!</button>
    </div>
    
    <br>

    <div class="row">
      <ng-container *ngIf="currentBoard == 'StudyBoard'">
        <div class="col-12">
          <app-study-board></app-study-board>
        </div>
      </ng-container>
      
      <ng-container *ngIf="currentBoard == 'TestBoard'">
        <div class="col-12">
          <app-test-board></app-test-board>
        </div>
      </ng-container>
    </div>
  </div>