<div class="container">
    <div class="row">
        <div class="col-12">
            <app-question 
                *ngIf="questions.length && !displayResults"                
                [totalQuestions]="questions.length"
                [question]="questions[currentQuestionIndex]"
                [nextAvailable]="nextAvailable"
                [displayResults]="displayResults"
                (onShowNextQuestion)="handleShowNextQuestion($event)"
                (onCalculateResults)="handleCalculateResults($event)"
            ></app-question>

            <div class="card" *ngIf="displayResults">
                <div class="card-body">
                  <h5 class="card-title">¡Estos son tus resultados!:</h5>
                
                  <p class="card-text" *ngFor="let question of questions">{{getQuestionResultText(question)}}</p>
                
                  <div class="row">
                    <div class="col-4">
                        <a href="#" class="btn btn-success" (click)="retryTest()">Intentar de nuevo</a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="btn btn-primary" (click)="takeAnotherTest()">Seleccionar otras tablas</a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="btn btn-danger" (click)="quitExam()">Salir</a>
                    </div>
                  </div>
                </div>
            </div>

            <p *ngIf="questions.length === 0"> No questions so far</p>
        </div>
    </div>
</div>
