<div class="card">
    <div class="card-body">
        <h5 class="card-title">Responde la siguiente pregunta:</h5>
        <p class="card-text">{{totalQuestions? question.text: ""}}</p>                  
        <input type="number" #givenAnswerInput [(ngModel)]="givenAnswer">
    
        <br>
        <br>
        <div class="row">
            <div class="col-4">
                <button href="#" class="btn btn-success" (click)="showNextQuestion()" [disabled]="!givenAnswer" *ngIf="nextAvailable && !displayResults">Siguiente</button>
            </div>
            <div class="col-4">
                <button href="#" class="btn btn-warning" (click)="calculateResults()" *ngIf="!nextAvailable && !displayResults">Ver Resultados</button>
            </div>
            <div class="col-4">
                <app-timer [resetCount]="timerResetCount" (onTimeUp)="handleTimeUp()"></app-timer>
            </div>
        </div>
    </div>
</div>